{# args: #}
{# site{basetitle, login} #}
{# title #}
{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if title %}{{ title }} - {% endif %}{{ site.basetitle }}</title>

    <link rel="stylesheet" type="text/css" href="{% static "hackergame/style.css" %}" />
</head>
<body>
    <div id="header">
        <header>
            <a id="title" href="{% url "hub" %}">{{ site.basetitle }}</a>
            {% if request.user.is_authenticated %}
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <input type="submit" id="logout" name="submit" value="注销 {{ request.user.username }}" />
                </form>
            {% else %}
                <a id="login" href="{{ site.login }}">登录</a>
            {% endif %}
        </header>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="msg-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div id="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
