<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{% if title %}{{ title }} - {% endif %}Hackergame 2017{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navbar { border-radius: 0; }
        .sign-in {
            margin-top: 8px;
            margin-right: 15px;
            float: right;
        }
    </style>
</head>
<body>{% block body %}{% endblock %}</body>
</html>
