{# args: #}
{# problems[{pid, title, user_solved, score}] #}
{# solved[] #}
{# before #}
{% extends "hackergame/base.html" %}

{% block body %}
    <h1>中国科学技术大学第四届信息安全大赛</h1>
    <p>奖项：一等奖一名，二等奖三名，三等奖五名，另设新生特别奖（限大一）两名。</p>
    <p>赛制：各道题独立，可以按任意顺序尝试，解出形如<code>flag{...}</code>的正确答案并提交即得该题分数。最终以总分排名，总分相同者以总耗时排名。</p>
    <p><b>比赛时间：</b>2017/10/14 12:00 - 2017/10/21 12:00</p>
    <p>科大参赛同学请在右上方登录后答题，我们将按你的登录身份评奖。</p>
    <p>上交、浙大、南大参赛同学请从<a href="/reg">这里</a>用你的学号登录，以参加你所在学校的评奖。</p>
    <p>其他参赛同学可以在<a href="/reg">这里</a>任意创建账号。这样创建的账号将无法参加科大校内评奖。</p>
    <p>任何作弊行为将立刻导致账号被封禁，失去参赛资格，请不要在比赛结束前发布题目或答案到其他平台。</p>
    <p>禁止对比赛平台本身进行攻击，否则将取消比赛资格并依法处理。Nmap等网络扫描器和穷举密码等方式不会对解题有任何帮助。</p>
    <p>比赛交流群：677132997。祝大家参赛愉快～</p>

    {% if user_score %}
        <p><div class="msg-info">您目前得分：{{ user_score }}</div></p>
    {% endif %}

    <ul id="problems">
        <li class="heading">题目<span>完成人数</span><span>分数</span></li>
        {% if before %}
            <li>比赛开始后题目将会公布，敬请期待</li>
        {% else %}
            {% for problem in problems %}
                <li class="problem-{% if problem not in solved %}un{% endif %}solved">
                    <a class="problem-title" href="{% url "problem" pid=problem.pid %}">{{ problem.title }}</a>
                    <span class="problem-user-solved">{{ problem.user_solved }}</span>
                    <span class="problem-score">{{ problem.score }}</span>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <p><a href="http://lug.ustc.edu.cn/">中国科学技术大学学生Linux用户协会（USTC LUG）</a> <a href="mailto:lug@ustc.edu.cn">联系我们</a></p>
    <p><a href="http://ourscgy.ustc.edu.cn/">中国科学技术大学少年班学院学生会（USTC SCGYSU）</a></p>
    <p><a href="#">中国科学技术大学计算机科学与技术学院学生会</a></p>
    <p><a href="#">中国科学技术大学网络信息安全学院/NEBULA战队</a></p>
{% endblock %}
